.login-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    /* height: 500px; */
    min-width: 25%;
    background-color: rgba(33, 33, 33, 255);
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    min-width: 100%;
}

.login-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.login-input>form {
    display: flex;
    font-size: 0.85rem;
    font-weight: 600;
    flex-direction: column;
    max-width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    border: none;
    font-size: 0.85rem;
    padding: 0.65rem;
    font-family: "Noto Sans", sans-serif;
    margin: 1.25rem 0;
    border-radius: 4px;
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    align-self: center;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 4px;
    color: white;
    background-color: #cc8f25;
}

.login-register {
    margin: 2rem 1rem 0 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.login-register-link {
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 500;
}

.loginError {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: rgb(255, 77, 77);
}